body {
	font-size: 1.3em;
}

.avatar {
	background: url("https://s.gravatar.com/avatar/cbe7b440cf38d70f77aa127b349abf5e?s=100") no-repeat;
	width: 100px;
	height: 100px;
}

.message {
	margin-bottom: 50px;
}

a {
	text-decoration: none;
}

form {
	margin-bottom: 0;
}

@media (max-width: 400px) {
	.alert {
		font-size: .8em;
	}
}